# Runtime files, không phải config thật - tự sinh lại lúc chạy
.config/fcitx/dbus/
.config/fcitx5/*.pid
.config/sway/current_power_mode
.config/waybar/backup_*
.config/gtk-3.0/bookmarks
.bashrc_local
