[Desktop Entry]
Name=ZenPomo System Tray
GenericName=Pomodoro Timer
Comment=ZenPomo Background System Tray Monitor
Exec=zenpomo tray
TryExec=zenpomo
Icon=zenpomo
Terminal=false
Type=Application
Categories=Utility;Clock;
X-GNOME-Autostart-enabled=false
Hidden=true
NoDisplay=false
